::selection {
    background: rgba(147,181,224,.6);
    color: #fff;
}


.theme-default-content:not(.custom) {
    max-width: 840px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}
.theme-default-content {
    max-width: 840px;
    margin: 0 auto;
    padding: 2rem 2.5rem;
}


// // 默哀日 全站变灰
// html {
//   filter: grayscale(100%);
//   -webkit-filter: grayscale(100%);
//   -moz-filter: grayscale(100%);
//   -ms-filter: grayscale(100%);
//   -o-filter: grayscale(100%);
//   -webkit-filter: grayscale(1);
// }

